.rules{

    overflow-y: scroll;
    overflow-x: hidden;

}
.heading-rules{
    text-align: center;
    background: linear-gradient(178deg, #f7e8cb 0%,#fce494 38%,#7d5b36 76%,#5b5228 100%); /* W3C */
}
.gameDesc{
    
    margin: 24px;
    color: rgba(223, 190, 106, 0.7);
    text-align: center;
    font-size: 25px;
}

strong{
    font-size: 42px;
}

@media screen and (max-width: 912px) {
    .block {
        margin: unset; 
       width: unset; 
        height: unset; 
    }
    
}