.blockactive {
    filter: blur(10px);
    position: relative;
    margin: 153px auto 0;
    width: 900px;
    height: 660px;
    background: linear-gradient(0deg, #000, #272727);

}

.cash-pop-up {
    border: 1px solid rgba(223, 190, 106, 0.7);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    margin: auto 0;
    position: absolute;
    z-index: 100;

    .container-cp {
        background-color: black;

        img {
            width: 400px;
            margin: 0 auto;
        }

        .cp-h {
            color: white;
            font-size: 1.2rem;
        }

        .btn-cont-popup {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding-bottom: 3rem;

            .start-chips-btn {
                width: 50%;
                padding-top: 5px;
                padding-bottom: 5px;
                color: rgb(0, 0, 0);
                font-weight: bold;
                border: 1px solid rgba(223, 190, 106, 0.7);
                background: linear-gradient(270deg, rgba(248, 211, 118, 0.8), rgba(146, 111, 52, 0.8), rgba(146, 111, 52, 0.8));
            }

            .start-chips-btn:hover {
                color: rgb(255, 255, 255);
                font-weight: bold;
                background: linear-gradient(270deg, rgba(0, 0, 0, 0.8),
                        rgba(146, 111, 52, 0.8),
                        rgba(146, 111, 52, 0.8),
                        rgba(223, 190, 106, 0.8),
                        rgba(146, 111, 52, 0.8),
                        rgba(146, 111, 52, 0.8),
                        rgba(0, 0, 0, 0.8));
                cursor: pointer;
                transition: all 150ms ease-in-out;
                box-shadow: 0px 0px 20px rgba(187, 143, 68, 0.8);
            }

            .start-chips-btn:active {
                color: rgb(255, 255, 255);
                font-weight: bold;
                background: linear-gradient(270deg, rgba(223, 190, 106, 0.8),
                        rgba(146, 111, 52, 0.8),
                        rgba(0, 0, 0, 0.8),
                        rgba(0, 0, 0, 0.8),
                        rgba(0, 0, 0, 0.8),
                        rgba(146, 111, 52, 0.8),
                        rgba(223, 190, 106, 0.8));
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .cash-pop-up {

    width: 70%;
    position: unset;
    
    margin: unset;
    z-index: 100;
}
    
    .cash-pop-up .container-cp {
        background-color: black;
        /* width: 100%; */
    }
}