.main-content{
    background-image: url('../../assets/images/home.png');
    height:100vh;
    background-repeat: no-repeat;
     background-size: contain;
     background-position: center
}

 .menu{
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
}
.container-to-fl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-self: center; */
    /* width: 100px; */
    place-items: center;
    gap:2rem
}

.options{
    width:10rem;
background-color: #262626;    
font-weight: 500;
font-size: 1.5rem;
letter-spacing:3px;
color: rgba(223,190,106,0.7);
padding: 0.5rem 1rem;
background: linear-gradient(270deg, rgba(223,190,106,0.8),rgba(146,111,52,0.8,),rgba(146,111,52,0.8),rgba(34,34,34,0),rgba(34,34,34,0) );
background-position: 1% 50%;
background-size: 300% 300%;
border: 1px solid rgba(223,190,106,0.7);  
-webkit-transition: all 0.7s ease-in-out;
-moz-transition: all 0.7s ease-in-out;
-ms-transition: all 0.7s ease-in-out;
-o-transition: all 0.7s ease-in-out;
transition: all 0.7s ease-in-out;

}
.options:hover{
    color: black;
    border: 1px solid rgba(223,190,106,0);
    background-position: 99% 50%;
}

.link-home{
    color: rgba(223, 190, 106, 0.7);
}
.link-home:hover{
    color: black;
}