.block {
  color: white;
  position: relative;
  margin: 153px auto 0;
  width: 900px;
  height: 660px;
  background: linear-gradient(0deg, #000, #272727);
}

.block:before,
.block:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  // background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
  //   #0000ff, #00ff00,#ffff00, #ff0000);
  background: linear-gradient(45deg, rgba(223, 190, 106, 0.8), rgba(146, 111, 52, 0.8, ), rgba(146, 111, 52, 0.8), rgba(34, 34, 34, 0), rgba(34, 34, 34, 0));
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 30s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.block:after {
  filter: blur(50px);
}

.chips {
  display: flex;
  gap: 2px;
}

.chips-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 110px;
}

.chips-bottom {
  width: 100px
}

.btn-main-menu {
  margin: 0 auto;
  display: block;
  margin-top: 1rem;
  width: 15rem;
  background-color: #262626;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 3px;
  color: rgba(223, 190, 106, 0.7);
  padding: 0.5rem 1rem;
  background: linear-gradient(270deg, rgba(223, 190, 106, 0.8), rgba(146, 111, 52, 0.8), rgba(146, 111, 52, 0.8), rgba(34, 34, 34, 0), rgba(34, 34, 34, 0));
  background-position: 1% 50%;
  background-size: 300% 300%;
  border: 1px solid rgba(223, 190, 106, 0.7);
  transition: all 0.7s ease-in-out;
}

.game-field {
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.game-options {
  display: flex;
  gap: 5rem;
  justify-content: center;
  width: 100%;
  flex-direction: row;

}

.game-options button {
  color: rgba(223, 190, 106, 0.7);
  margin-top: 1rem;
  width: 6rem;
  font-weight: 800;
  font-size: 1rem;
  letter-spacing: 3px;
  color: rgba(223, 190, 106, 0.7);
  padding: 0.5rem 1rem;
  background: transparent;
  border: 1px solid rgba(223, 190, 106, 0.7);
  border-radius: 30px;
}

.game-options button:hover {
  color: #000;
  background: linear-gradient(270deg, rgba(223, 190, 106, 0.8), rgba(146, 111, 52, 0.8), rgba(146, 111, 52, 0.8));
  border: 1px solid black;
  -webkit-box-shadow: 1px 1px 129px 45px rgba(223, 190, 106, 0.8);
  -moz-box-shadow: 1px 1px 129px 45px rgba(146, 111, 52, 0.8);
  box-shadow: 1px 1px 129px 45px rgba(146, 111, 52, 0.8);
}

.btn-main-menu:hover {
  color: black;
  border: 1px solid rgba(223, 190, 106, 0);
  background-position: 99% 50%;

}

.dealercardscontainer,
.players-cards {
  display: flex;
}

.card {
  width: 120px;
}

.smallActiveBlue {
  display: block;
  position: absolute;
  width: 50px;
  transform: translate(21px, 23px);
  animation: move 0.9s linear;
  animation-fill-mode: none;
}

@keyframes move {
  0% {
    display: block;
    transform: translate(21px, 23px);
  }

  100% {
    transform: translate(409px, -283px);

  }
}

.smallActiveGrey {
  display: block;
  position: absolute;
  width: 50px;
  transform: translate(21px, 23px);
  animation: moveGrey 0.9s linear;
  animation-fill-mode: none;
}

@keyframes moveGrey {
  0% {
    display: block;
    transform: translate(21px, 23px);
  }

  100% {
    transform: translate(313px, -270px);

  }
}
.smallActiveGreen {
  display: block;
  position: absolute;
  width: 50px;
  transform: translate(21px, 23px);
  animation: moveGreen 0.9s linear;
  animation-fill-mode: none;
}

@keyframes moveGreen {
  0% {
    display: block;
    transform: translate(21px, 23px);
  }

  100% {
    transform: translate(218px, -270px);

  }
}
.smallActiveRed {
  display: block;
  position: absolute;
  width: 50px;
  transform: translate(21px, 23px);
  animation: movePurple 0.9s linear;
  animation-fill-mode: none;
}

@keyframes movePurple {
  0% {
    display: block;
    transform: translate(21px, 23px);
  }

  100% {
    transform: translate(123px, -270px);

  }
}

.smallActivePurple {
  display: block;
  position: absolute;
  width: 50px;
  transform: translate(21px, 23px);
  animation: moveRed 0.9s linear;
  animation-fill-mode: none;
}

@keyframes moveRed {
  0% {
    display: block;
    transform: translate(21px, 23px);
  }

  100% {
    transform: translate(218px, -270px);

  }
}
.smallActiveGreen {
  display: block;
  position: absolute;
  width: 50px;
  transform: translate(21px, 23px);
  animation: moveGreen 0.9s linear;
  animation-fill-mode: none;
}

@keyframes moveRed {
  0% {
    display: block;
    transform: translate(21px, 23px);
  }

  100% {
    transform: translate(28px, -270px);

  }
}
.small {
  display: none;
  position: absolute;
  width: 50px;
  transform: translate(21px, 23px);
}

.smallChipsBets {
  width: 50px;
}

.div-cont-bet {
  width: 256px;
  height: 67px;
  position: relative;

}

.chip-bet-fl-c {
  display: flex;
}